$white: #fff;
$black: #000;

$gray-50: #c8cbcc;
$gray-100: #666;
$gray-500: #333;

$blue-10: #FCFDFF;
$blue-25: #F4F8FD;
$blue-40: #E9F0FA;
$blue-50: #edf2f8;
$blue-60: #DAE4F1;
$blue-100: #76B3FF;
$blue-500: #0f85ca;

$red-100: #ffa6a6;
$red-200: #fa4949;
$pink-100: #FFD9FA;
$yellow-100: #FFE1A6;
$green-100: #77E3C7;

$gradient-White: #f4f9fd;
$gradient-blue: #0F85CA;
$gradient-green: #27B291;

$background: #FBFDFF;
$global-gradient-white: linear-gradient(288.9deg, #FFFFFF 0%, #F4F9FD 74.5%);
$global-gradient-blue-green: linear-gradient(94.87deg, #0F85CA 7.1%, #27B291 104.95%);