.graph-container {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center !important  ;
  padding-bottom: 50px;

  .VictoryContainer {
    width: 70% !important;
    box-shadow: rgba(60, 64, 67, 0.7) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.5) 0px 2px 6px 2px;
    border-radius: 25px;
    padding: 0.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.115);
    height:100%;
  }
}

.graph-name-container {
  span {
    display: inline-block;
    font-size: 30px;
    line-height: 0.9;
    padding: 20px;
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    background: radial-gradient(
        circle farthest-corner at center center,
        #f6f9f3,
        #d1ddc3,
        #f0ffc9
      )
      no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.no-lojas {
  text-align: center;
  span {
    display: inline-block;
    font-size: 30px;
    line-height: 0.9;
    padding: 20px;
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    background: radial-gradient(
        circle farthest-corner at center center,
        #f6f9f3,
        #d1ddc3,
        #f0ffc9
      )
      no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
